%footer.bs-docs-footer{:role => 'contentinfo', :class => 'homer-confused'}
  .container
    %ul.bs-docs-footer-links
      %li
        %a{:href => 'https://www.obscured.link'} obscured.se
    %p
      Obscured.RRD <a href="#">1.0</a>, designed and built with all the love in the world by
      %a{:href => 'http://www.getbootstrap.com', :rel => 'noreferrer', :target => '_blank'} @bootstrap
      and
      %a{:href => 'http://www.obscured.link/', :rel => 'noreferrer', :target => '_blank'} @obscured
      Maintained by
      %a{:href => 'http://www.gonace.com/', :rel => 'noreferrer', :target => '_blank'} @gonace
    - if defined? render_time
      %p Page rendered in #{Time.now - render_time} seconds
    %span.footer-brand
      %span Powered by
      %img{:src => '/images/logo-mrtg.png', :alt => 'Multi Router Traffic Grapher', :height => '100%', :width => '100%'}
      %img{:src => '/images/logo-rrdtool.png', :alt => 'RRDtool', :height => '100%', :width => '100%'}