%header#top.navbar.bs-docs-nav{:role => 'banner'}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-controls' => 'bs-navbar', 'aria-expanded' => 'false', 'data-target' => '#bs-navbar', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => '/'} Obscured.RRD
    %nav#bs-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a.brand{:href => '/'} Overview
        %li
          %a.brand{:href => '/accounts'} Accounts
        %li
          %a.brand{:href => '/events'} Events
        %li
          %a.brand{:href => '/jobs'} Jobs
        %li
          %a.brand{:href => '/rules'} Rules