%header#top.navbar.bs-docs-nav{:role => 'banner'}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-controls' => 'bs-navbar', 'aria-expanded' => 'false', 'data-target' => '#bs-navbar', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => '/'} Obscured.RRD
    %nav#bs-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - Obscured.c('data.sources.groups').each do |group|
          %li.dropdown
            %a.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :href => '#', :role => 'button'}
              = group['name']
              %span.caret
            %ul.dropdown-menu
              - group['nodes'].each do |source|
                - unless source['hidden']
                  %li
                    %a{:href => "/metrics/#{group['name']}/#{source['path']}"}= source['name']