#content.bs-docs-header{:tabindex => '-1', :class => 'willie-angry'}
  .container
    %h1 Overview
    %p An overview of the selected background job, the job type, state, and ways to correct eventual errors.

.container
  .row
    .col-md-12