!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'MRTG/RRD Graphic Frontend', :name => 'description' }
    %meta{:content => 'Obscured', :name => 'author' }
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %title= title
    %link{:rel => 'icon', :type => 'image/x-icon', :href => '/homer/img/favicon.ico'}
    = partial :'../shared/partials/styles'
    = partial :'../shared/partials/scripts'

  %body.bs-docs-home
    = yield