.error-container
  .inner
    %img.pull-right{:src => '/images/homer-security.png', :width => '250px', :style => 'margin-left: 0px'}
    %div
      %h1 Oops!
      %h3 Unauthorized
      %p.lead The request requires user authentication.
      %code Error code: 401