%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js', :integrity => 'sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==', :crossorigin => 'anonymous'}
%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.3.1/anchor.min.js', :integrity => 'sha512-zPB79j2C+3sFS9zcA3vg/z6bVKzJVEyu9pY5w89akQRys76zpAT2t6S3wZKla3QQ14O5l/Yt0RUQ/DHXx82Y5g==', :crossorigin => 'anonymous'}
%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js', :integrity => 'sha512-sIqUEnRn31BgngPmHt2JenzleDDsXwYO+iyvQ46Mw6RL+udAUZj2n/u/PGY80NxRxynO7R9xIGx5LEzw4INWJQ==', :crossorigin => 'anonymous'}
%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js', :integrity => 'sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==', :crossorigin => 'anonymous'}
%script{:src => 'https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js', :integrity => 'sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd', :crossorigin => 'anonymous'}
%script{:src => 'https://www.gstatic.com/charts/loader.js'}


%script{:src => '/scripts/application.js'}